body {
    margin: 0;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: gray;
    text-decoration: none;
}

a:active {
    color: white;
    background-color: gray;
    text-decoration: none;
}

.header {
    background-color: white;
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 100px;
}

.home {
    position: absolute;
    top: 20px;
    float: left;
}

.home img {
    width: 200px;
}

.main {
    display: flex;
    justify-content: center;

    padding: 50px 0;
}

#main-box {
    display: flex;
    max-width: 800px;
}

.wb_image {
    border-radius: 10%;
    background-position: center;
    background-size: cover;

    width: 220px;
    height: 202px;
    margin-right: 50px;

    color: white;
}

.title {
    font-size: 1.5em;
    font-weight: bold;

    margin-right: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 50px 0;
}

#comment-list {
    width: 764px;
}

.item {
    border: 1px solid;
    border-color: gray;
    border-radius: 0.5rem;

    box-shadow: 3px 5px 10px 0 gray;

    padding: 0 2rem 1rem 2rem;
    margin: 0 15px 15px 15px;

    max-width: 700px;
}

.user_name {
    font-weight: bold;
}