
.title {
    color: white;
    font-weight: 800;
    font-size: 5rem;
    font-family: 'Song Myung', sans-serif;
}

.subtitle {
    font-family: 'Song Myung', cursive;
    font-size: 2rem;

}

.help {
    color: gray;
}


.hero-body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
}


body::-webkit-scrollbar {
    width: 15px; /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: hsl(141, 53%, 53%); /* 스크롤바의 색상 */

    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: white; /*스크롤바 뒷 배경 색상*/
}

