<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>인생네툰</title>

    <link href="/static/detail.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            change_desc();
        });

        {#  기호 변환  #}
        function change_desc() {
            let ex_desc = "{{ result.desc }}";
            let re_desc = ex_desc.replace(/&lt;br&gt;/g, '<br>')
            re_desc = re_desc.replace(/&#39;/g, "'")
            re_desc = re_desc.replace(/&#34;/g, '"')

            let temp_html = `<p>${re_desc}</p>`
            $('.info').append(temp_html)
        }
    </script>
</head>
<body>
<div class="header">
    <div class="home">
        <a href="/" style="width: 0; height: 0; display: inline-block;">
            <img src="/static/lifewebtoon2.png"/>
        </a>
    </div>
</div>
<div class="main">
    <div id="main-box">
        <div class="wb_image" style="background-image: url( {{ result.image }} )"></div>
        <div class="info">
            <span class="title">
                <a href="{{ result.url }}" target="_blank">{{ title }}</a>
            </span>
            <span class="writer">{{ result.writer }}</span>
            <p> {{ result.genre }} </p>
        </div>
    </div>
</div>
<div class="container">
    <div id="comment-list">
        {% for cmt in results %}
            {% set us_id = cmt.user_id %}
            {% set us_comment = cmt.comment %}
            <div class="item">
                <p class="user_name">
                    <a href="user 개인 페이지">
                        {{ us_id }}
                    </a>
                </p>
                <p class="comment">
                    {{ us_comment }}
                </p>
            </div>
        {% endfor %}
    </div>
</div>

</body>
</html>